@import url('https://cdnjs.cloudflare.com/ajax/libs/lxgw-wenkai-web/1.501.0/style.css');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');

@font-face {
  font-family: 'Maple Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff) format('woff');
}

$font-family-base: 'Chinese Quotes', 'Halant', 'Inter var', 'Inter', 'LXGW WenKai', 'LXGW WenKai TC', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif, -apple-system, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-mono: 'Maple Mono', 'LXGW WenKai Mono', monospace;
