:root {
  --background: #fefefe;
  --text: #4c4f69;
  --button-background: #eeeeee;
  --button-hover: #cbc9cb;
  --button-border: transparent;
}

[data-theme="dark"] {
  --background: #1e1e2e;
  --text: #cdd6f4;
  --button-background: #585b70;
  --button-hover: #585b70;
  --button-border: transparent;
}

[data-theme="high-contrast"] {
  --background: #fff;
  --text: #000;
  --button-background: #fff;
  --button-hover: #fff;
  --button-border: #7287fd;
}

[data-theme="high-contrast-dark"] {
  --background: #000;
  --text: #fff;
  --button-background: #000;
  --button-hover: #000;
  --button-border: #d20f39;
}

.placeholder {
  min-height: 60px;
}
